# Stripe OAuth
STRIPE_CLIENT_ID=
STRIPE_CLIENT_SECRET=

# Modern Treasury OAuth
MODERN_TREASURY_CLIENT_ID=
MODERN_TREASURY_CLIENT_SECRET=

# AI Banking OAuth
AIBANKING_CLIENT_ID=
AIBANKING_CLIENT_SECRET=
AIBANKING_PRIVATE_KEY=
AUTH0_JWT_SECRET=
AUTH0_SCIM_TOKEN=

# Citi OAuth
CITI_CLIENT_ID=
CITI_CLIENT_SECRET=
