rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isAuthenticated() {
      return request.auth != null;
    }

    match /users/{userId} {
      allow read, write: if isAuthenticated() && request.auth.uid == userId;
    }
    
    match /user_connections/{connectionId} {
      allow read, write: if isAuthenticated();
    }
    
    match /accounts/{accountId} {
      allow read, write: if isAuthenticated();
    }
    
    match /transactions/{transactionId} {
      allow read, write: if isAuthenticated();
    }
    
    match /chats/{chatId} {
      allow read, write: if isAuthenticated();
    }
    
    match /investments/{investmentId} {
      allow read, write: if isAuthenticated();
    }
    
    match /cards/{cardId} {
      allow read, write: if isAuthenticated();
    }
  }
}
