@import "tailwindcss";

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

body {
  @apply bg-[#0A0A0A] text-white antialiased;
}

::selection {
  @apply bg-emerald-500/30 text-emerald-200;
}
